body{
    font-family: raleway;
}

@font-face {
    font-family: raleway;
    src: url('../src/Raleway-Regular.ttf');
}

#navbar ol {
    list-style-type: none;
    padding-left: 0;
}

.navItem {
    display: inline-block;
}

#listItems {
    float: right;
}

a:hover {
    border-top: 1px solid #0065FC ;
}

a {
    padding-top: 1em;
    text-decoration: none;
    color:#0065FC;
    margin-right: 2em;

}

p {
font-size: 90%;
}

#bouton {
    background-color: #0065FC;
    color: white;
    border-radius: 0px 10px 10px 0px;
    border: 0;
}

#research {
    border : 1px solid lightgray;
    border-radius: 20px 15px 15px 20px;
    width: max-content;
    display: flex;
}

.filtres{
    display: inline-flex;
    border : 1px solid lightgray;
    border-radius: 20px 20px 20px 20px;
    width: max-content;
    margin-top: 2em;
    margin-left: 3em;
    height: 2em;
    justify-content: center; /*Centrer horizontalement grace a flex box*/
    align-items: center; /*Centrer verticalement grace a flex box*/
}

.filtres:hover{
    background-color: lightgray; 
}

.icon, .iconInfo {
    color: #0065FC;
    font-size: 1em;
}

.containIcon, .containIconInfo {
    width: 2em;
    height: 2em;
    background-color: lightgray;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    justify-content: center; /*Centrer horizontalement grace a flex box*/
    align-items: center; /*Centrer verticalement grace a flex box*/
}

input {
    border: 0;
}

.label {
    font-weight: bold;
}

#blockFiltre{
    position: relative;
}

#labelFiltres{
    display: inline-flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#info {
    display: inline-flex;
    width: max-content;
    height: 2em;
    justify-content: center; /*Centrer horizontalement grace a flex box*/
    align-items: center; /*Centrer verticalement grace a flex box*/
}


